 @import "bootstrap";

 body{
   width:80%;
   margin:10px auto;
   background-color: whitesmoke;
 }

 div.container{
   background-color: white;
   border-radius: 5px;
   padding: 10px;
 }

 div.product{
  border: 1PX grey SOLID;
  padding: 10PX;
  margin-right: 10px;
  border-radius: 10px;
}

