 @import "bootstrap";

 body{
   width:80%;
   margin:10px auto;
   background-color: whitesmoke;
 }

 div.container{
   background-color: white;
   border-radius: 5px;
   padding: 10px;
 }

 div.product{
  border: 1PX grey SOLID;
  padding: 10PX;
  margin: 20px;
  border-radius: 10px;
}

div.cat-icon{
  background-color: lightgrey;
  padding: 1px;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 2px;
}


