<header class="jumbotron">

<div class="row">

<% @categories.each do |category| %>

    <div class="cat-icon">
      <a class="nav-link" href='<%=category_url(category.id)%>' >
        <% if !category.icon.url.nil? %>
          <%= image_tag category.icon.url %>
        <%end%>
        <div class="text-center"><%= category.name%></div>
      </a>
    </div>

<%end%>
</div>

<hr>

</header>