<div class="container clearfix col-9 float-right">
  <% if(params[:filter]) %>
  <div class="alert alert-dark mt-3">
    <% status = StatusType.where(id: params[:filter]).first()%>
    Sorting By: <%= status.name %>
  </div>
  <% end %>
  <div class="row">
    <% @products.each do |product| %>
      <div class="product">
      <%= image_tag product.image.thumb.url%>
        <h5><%= link_to product.name, product%></h5>
      </div>
    <% end %>
  </div>

  <div class="row align-items-center justify-content-center">
    <%= paginate @products %>
  </div>
</div>