<div class="container clearfix col-9 float-right">
  <div class="row">
    <% @products.each do |product| %>
      <div class="card m-4" style="width:200px; position:relative;">
        <%= image_tag product.image.thumb.url, class:"card-img-top"%>
        <div class="card-body">
          <h4 class="card-title"><%= link_to product.name, product%></h4>
          <p class="card-text" style="position:absolute; bottom:0; right:0;">$<%= product.price%></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row align-items-center justify-content-center">
    <%= paginate @products %>
  </div>
</div>
